 #ui-container {
    display: flex;
    flex-direction: column;
    position: absolute; 
    height: 100%; 
    min-height: 100%;
    border: none;
    width: 100%;
    min-width: 100%;
}

.masto-container {
    position: absolute; 
    height: 100%; 
    min-height: 100%;
    border: none;
    width: 100%;
    min-width: 100%;
}

.masto-wrapper {
    flex: 1;
    border: none;
}

#is-toolbar {
    display: flex;
    flex-direction: row;
    height: 38px;
    min-height: 38px;
    background-color:#3D3A4A;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#is-toolbar i {
    color: #FFFFFF;
    flex: 1;
    text-align: center;
}

.logo-container {
    flex: 1;
}

.logo-container img {
    height:  30px !important;
}

#is-instances-list {
    flex: 4;
}

.is-loading-spacer {
    flex: 1;
    text-align: center;
    font-family: sans-serif;
}

.is-loading-spacer img {
    width: 70%;
    max-width: 70%; 
}